<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB_xMCyPiNAfMjum-r7PwPURJAttCTSc0s</string>
	<key>GCM_SENDER_ID</key>
	<string>641247244211</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>GolovanovAV.Navigation</string>
	<key>PROJECT_ID</key>
	<string>navigator-3f0d9</string>
	<key>STORAGE_BUCKET</key>
	<string>navigator-3f0d9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:641247244211:ios:6173fde4028b3c1550e5c6</string>
</dict>
</plist>